@model AppleStore.Models.Product
@{
    ViewData["Title"] = "Chi tiết đơn hàng";
}
<div class="container">
    

    <div class="row">
        <div class="col-md-6">
            <img src="../../images/@Model.Img" class="img-fluid" alt="@Model.Name" style="height: 500px; object-fit: cover;">
        </div>

        <div class="col-md-6">
            <h1 class="text-center my-4">@Model.Name</h1>
            <p class="my-2"><strong>Giá:</strong> @Model.Price.ToString("#,0") VNĐ</p>

            <p class="my-2"><strong>Số lượng:</strong> @Model.Amount</p>
			@if(@Model.Amount == 0)
			{
                <p class="text-danger class=" my-2"">Hết hàng</p>
                <a href="@Url.Action("Index", "Home")" class="btn btn-secondary px-4 py-2 fw-bold d-flex align-items-center gap-2">Vế trang chủ</a>
			}
			else
			{
                <p class="text-success class=" my-2"">Còn hàng</p>
                <div class="d-flex justify-content-center gap-5 py-5 class=" my-2"">
                    <a asp-controller="Cart"
                       asp-action="AddToCart"
                       asp-route-productId="@Model.Id"
                       asp-route-productName="@Model.Name"
                       asp-route-price="@Model.Price"
                       asp-route-ImageUrl="@Model.Img"
                       class="btn btn-primary px-4 py-2 fw-bold d-flex align-items-center gap-2">
                        <i class="bi bi-cart-plus"></i> Thêm vào giỏ hàng
                    </a>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-secondary px-4 py-2 fw-bold d-flex align-items-center gap-2">Vế trang chủ</a>
                </div>
			}
            
            

        </div>
		<div class="container">
            <p>
                @Html.Raw(@Model.Information)
            <p>
        </div>
        
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h5>Công nghệ mới của Apple</h5>
            <div class="container">
                <img src="../../images/info1.jpg" alt="Los Angeles"  style="width:100%">
            </div>
            <div class="container">
                <img src="../../images/info2.jpg" alt="Los Angeles" style="width:100%">
            </div>
            <div class="container">
                <img src="../../images/info3.jpg" alt="Los Angeles" style="width:100%">
            </div>
            <div class="container">
                <img src="../../images/info4.jpg" alt="Los Angeles" style="width:100%">
            </div>
            <div class="container">
                <img src="../../images/info5.jpg" alt="Los Angeles" style="width:100%">
            </div>
            <div class="container">
                <img src="../../images/info6.jpg" alt="Los Angeles" style="width:100%">
            </div>
            <div class="container pb-4">
                <img src="../../images/info7.jpg" alt="Los Angeles" style="width:100%">
            </div>
        </div>
    </div>
</div>
