@model IEnumerable<AppleStore.Models.Product>

<div class="container my-5">
        <h2 class="text-center mb-4">Kết quả tìm kiếm: @ViewBag.Keyword</h2>

        <div class="row g-4">
            @foreach (var item in Model)
            {

                <div class="col-md-3 fade-in" data-aos="fade-up" data-aos-delay="@((item.Id % 4) * 200)">
                    <div class="product-card position-relative p-3" style="background-color: #eeecec; border-radius: 15px 15px 15px 15px;">
                        <a href="@Url.Action("Detail", "Product", new { id = item.Id })" class="text-decoration-none">
                            <img src="../../images/@item.Img" alt="item 1" class="img-fluid" style="width: 280px; height: 250px; background-color: #eeecec" />
                            <p class="pt-3 product-name" style="font-size:18px; font-weight: 700; line-height: 27px;color: #1D1D1F;">@item.Name</p>
                            <p class=" text-center">
                                <span class="product-price text-primary">@item.Price.ToString("#,0") VNĐ</span>
                            </p>
                        </a>
                    </div>
                </div>
            }
        </div>
</div>
