@model IEnumerable<AppleStore.Models.Product>

@{
    ViewData["Title"] = "Quản lý sản phẩm";
}
<div class="row">
    <h1>Danh sách sản phẩm</h1>

    <div class="text-end mb-3">
        <a href="@Url.Action("Create", "Product", new { area = "Admin" })" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Thêm sản phẩm
        </a>
    </div>
    <table class="container-fluid table table-bordered table-striped table-responsive">
        <thead class="table-dark">
            <tr>
                <th></th>
                <th class="text-truncate">Tên sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Danh mục</th>
                <th>Hình ảnh</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>
                        <span title="@product.Name">
                            @(product.Name.Length > 70 ? product.Name.Substring(0, 20) + "..." : product.Name)
                        </span>
                    </td>
                    <td>@product.Price.ToString("#,0") VNĐ</td>
					<td>@product.Amount</td>
                    <td>@product.Category?.Name</td>
                    <td>
                        @if (!string.IsNullOrEmpty(product.Img))
                        {
                            <img src="../../images/@product.Img" alt="Hình ảnh sản phẩm" width="50" height="50" />
                        }
                        else
                        {
                            <span>Không có hình ảnh</span>
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Product", new { area = "Admin", id = product.Id })" class="btn btn-warning">Sửa</a>
                        <a href="@Url.Action("Delete", "Product", new { area = "Admin", id = product.Id })" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    window.onload = function() {
        var successMessage = '@Html.Raw(TempData["success"])';
        var errorMessage = '@Html.Raw(TempData["error"])';

        var toastBody = document.getElementById('toast-body');
        var toastElement = document.getElementById('liveToast');

        if (successMessage.trim() !== '') {
            toastBody.innerHTML = successMessage;
            toastElement.classList.add('bg-success');
            var toast = new bootstrap.Toast(toastElement);
            toast.show();
        } else if (errorMessage.trim() !== '') {
            toastBody.innerHTML = errorMessage;
            toastElement.classList.add('bg-danger');
            var toast = new bootstrap.Toast(toastElement);
            toast.show();
        }
    }
</script>
